$labAmarillo: rgb(247, 182, 23);
$labGriss: rgb(43, 43, 43);
$blanco: #fff;

$colAncho:8.333%;

$phone: "(min-width: 0px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";